* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b5d50;
    color: white;
}

.furni {
    font-size: 24px;
    margin: 10px;
    margin-left: 30px;
    /* padding-top: 14px; */
    padding-left: 60px;
    color: whitesmoke;
}

.nav {
    display: flex;
    gap: 40px;

}

#cell {
    margin-right: 200px;
}

.nav a {
    display: flex;
    color: #d8e0dc;
    /* text-decoration: none; */
    font-size: 18px;
    padding: 10px 0px;
    justify-content: space-around;
    margin-right: 20px;
}



#main {
    background-color: #3b5d50;
    height: 530px;


    #img {
        position:absolute;
        width: 600px;
        right: 0;
        top: 100px;
        margin-right: 300px;
        z-index: 2;
    }


    #dotimg {
        position:absolute;
        object-position: right;
        margin-top: 50px;
        margin-left: 1250px;
    }

}

#heading {
    color: aliceblue;
    width: 500px;
    display: grid;
    font-size: 55px;
    font-weight: bold;
    padding: 100px 100px 30px 100px;
}

#para {
    font-size: medium;
    line-height: 30px;
    color: #ffffff80;
    width: 470px;
    margin-left: 100px;
}

.btn {
    
    margin-top: 30px;
    width: 135px;
    height: 50px;
    border-radius: 60px;
    font-size: 15px;
    font-weight: 600;
    background-color: #f9bf29;
}

.btn1 {
    border: 1px solid #ffffff80;;
    margin-top: 30px;
    width: 120px;
    height: 50px;
    border-radius: 60px;
    font-size: 15px;
    font-weight: 600;
    background-color: #3b5d50;
    color: white;

}
#heading1
{
     color: black;
    width: 300px;
    display: grid;
    font-size: 35px;
    font-weight:500;
    padding: 100px 100px 30px 100px;
}
#para1
{
    border: 1px solid red;
    font-size:95%;
    line-height: 25px;
    color: grey;
    width: 330px;
    margin-left: 100px;
}
@media screen and (min-width: 400px) {
   body{
    grid-template-columns: auto auto;
    row-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: auto auto auto;
    row-gap: 20px;
  }
}

@media screen and (min-width: 1000px) {
  body{
    grid-template-columns: auto auto auto auto;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1400px) {
  body {
    grid-template-columns: auto auto auto auto auto;
    row-gap: 20px;
  }






/* 
#next
{
    border: 2px solid red;
    height: 300px;
    width: 1400px;
    display: flex;
   margin-top: 100px;
   margin-left: 50px;

   .img
  {
      

  }
} */
/* .img2
{
  height: 216px;
  width: 216px;
  align-items: end;
} */