* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #3b5d50;
}

#header {
    margin: 20px ;
    display: flex;
    justify-content: space-around;
    font-size: large;
    align-items: center;
    color: rgb(250, 249, 249);

    a 
    {
        text-decoration: none;
        color: whitesmoke;
    }

    #icon {
        color: whitesmoke;
    }

    #furni {
        margin: 10px;
        color: whitesmoke;
    }
}
#header icons
{
    k
}
.nav
{
    justify-content:space-around;
}


/* #main {
    height: 100vh;
    margin: 50px 100px 150px 50px;
    background-image: url("./dots-green.svg");
    background: url("./couch.png");
    background-size: 650px;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
} */

