*
{
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
}

#header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b5d50;
    color: white;
}

.furni {
    font-size: 20px;
    margin: 10px;
    margin-left: 30px;
    padding-left: 60px;
    color: whitesmoke;
}

.nav {
    display: flex;
    gap: 30px;

}

#cell {
    margin-right: 200px;
}

.nav a {
    display: flex;
    color: #d8e0dc;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 0px;
    justify-content: space-around;
    margin-right: 20px;
}
#main
{
    background-color: #3b5d50;
    height: 230px;
}

#shop
{
    padding: 100px 90px;
    color: whitesmoke;
    background-color: #3b5d50;
    font-size:50px;
    font-weight: bold;
}
main{
    background-color: #d8e0dc;
}

.product
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 120px;
}

.product-images {
  text-align: center;
  transition: 0.3s ease;
}

.product-images:hover {
  transform: translateY(-20px);
}

.product-images img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: auto;
}

.product-images h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #3b5d50;
}

.product-images strong {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: #2f2f2f;
}


 .subscribe
 {

  margin-top: 30px;
  margin-left: 50px;
  p
  {
    padding: 1px;
  }
 }
 
#button
{
  background-color:#3b5d50;
  color: #d9e7e8;
  i
  {
    padding: 20px;
  }
}
 #footfurni
 {
  margin-top: 70px;
  margin-left: 100px;
  margin-bottom: 30px;
  font-size: large;
  color: #3b5d50;
 }
  #foot
 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;

 }
 .footpara
 {
  margin-left: 100px;
  width: 400px;
  color: #888888;
  margin-bottom: 40px;
 }

 .footabout
 {
  gap: 50px;
  line-height: 30px;
 }