*{
    background-color: bisque;
}
h1{
    background-color: pink;
}
.cssfile
{
    background-color: blue;
}
#submit
{
    background-color: rgb(174, 126, 221);
}

.fx
{
    background-color: palevioletred;
}

.uu
{
    background-color: crimson;
}

#gn
{
    background-color: lavender;
}

